
<head>
</head>
<body>
    <div class="d-flex align-items-center justify-content-center">
        <a asp-area="" asp-controller="Employee" asp-action="ViewEmployee">View Employee List</a>|
        <a asp-area="" asp-controller="Employee" asp-action="Create">Add New Employee</a>|
        <a asp-area="" asp-controller="Employee" asp-action="ViewEmployee">Add New Designation</a>
    </div>

</body>
